.page {
  background-color: var(--main-blue);
  height: 100vh;
}

.container {
  position: absolute;
  border: 2px solid white;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  width: 30%;

  display: grid;
  gap: 3vh;
}

.container h2 {
  font-size: 32px;
  text-align: center;
}

.input_section {
  display: grid;
  place-items: center;
  /* border: 1px solid rgb(0, 0, 0); */
}
.input_section input {
  height: 35px;
  width: 80%;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 10px;
}

.input_section button {
  height: 35px;
  width: 40%;
  // background-color: var(--main-red-dark);
  // color: var(--main-white-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.other_option a {
  text-decoration: underline;
  color: white;
}
.other_option p,
.other_option span {
  text-align: center;
  margin-bottom: 10px;
  // color: var(--main-red-dark);
}

.profile_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  // z-index: -1;
  // background: url('https://cdn-icons-png.flaticon.com/512/3177/3177440.png');
  // background-repeat: no-repeat;
  // background-size: 100%;
  // z-index: 1000;
  // overflow: hidden;
  // object-fit: contain;
}
.profile_image img {
  position: absolute;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  z-index: -1;
  object-fit: cover;
}

.profile {
  opacity: 0;
  height: 100% !important;
  width: 100% !important;
  border-radius: 50% !important;
  z-index: 100;
  // background-position: 100%;
}

@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
