.main_div {
  height: 10vh;
  width: 100%;
  background-color: rgb(151, 151, 193);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search_users {
    height: 4vh;
    width: 15vw;

    margin-left: 5vw;

    svg {
      height: 27px;
      width: 27px;
    }
  }

  h3 {
    font-size: 20px;
    color: black;

    text-align: center;
    padding-top: 15px;
    margin: 0px !important;
  }

  .userinfo {
    height: 8vh;
    width: 5vw;
    margin-right: 5vw;
    // position: absolute;
    // right: 5vw;
    // top: 1vh;
    // border: 1px solid red;

    .userdetail {
      height: 40vh;
      aspect-ratio: 1/1;
      background-color: rgb(95, 75, 75);
      position: relative;
      top: 0px;
      right: 12vw;
      border-radius: 16px;
      display: grid;
      place-items: center;

      div {
        // border: 1px solid red;
        display: grid;
        place-items: center;

        > img {
          height: 15vh;
          aspect-ratio: 1/1 !important;
          object-fit: cover;
          border-radius: 50%;
        }

        h4 {
          font-size: 16px;
        }

        button {
          font-size: 17px;
          text-align: center;
          background-color: black;
          color: white;
          border-radius: 4px;
          border: 1px solid white;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .userinfo > img {
    height: 100%;
    aspect-ratio: 1/1 !important;
    cursor: pointer;
    border-radius: 50%;
    // border: 1px solid red;
    object-fit: cover;
  }
}

.sidebar {
  height: 100vh;
  // padding-block: 5vh;
  // padding-inline: 10px;
  width: 30vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: white;
  border-radius: 0px 10px 10px 0px;

  .users_list {
    margin-block: 5px;
    border-radius: 5px;
    background-color: rgb(186, 181, 181);
    height: 6vh;
    width: 70%;
    margin-left: 5%;
    cursor: pointer;

    display: flex;
    gap: 2vw;
    align-items: center;

    img {
      height: 80%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  svg {
    font-size: 25px;
    color: black;
    position: absolute;
    top: 2vh;
    left: 27vw;
    transform: rotate(45deg);
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .main_div {
    height: 10vh;
    width: 100%;
    background-color: rgb(151, 151, 193);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search_users {
      height: 3vh;
      width: 18vw;

      margin-left: 5vw;
    }

    h3 {
      font-size: 16px;

      padding-top: 5px;
    }

    .userinfo {
      height: 6vh;
      width: auto;
      margin-right: 5vw;

      .userdetail {
        height: fit-content;
        padding: 3vh 5vw;
        aspect-ratio: unset;
        width: fit-content;
        background-color: rgb(95, 75, 75);
        position: absolute;
        top: 0px;
        right: 0vw;
        border-radius: 16px;
        display: grid;
        place-items: center;
      }
    }
  }

  .sidebar {
    height: 100%;
    width: 80vw;
    position: absolute;
    top: 0px;
    padding-top: 10vh;
    left: 0px;

    .users_list {
      height: 6vh;
      width: 80%;
      margin-left: 5%;
      cursor: pointer;

      display: flex;
      gap: 2vw;
      align-items: center;
    }

    svg {
      top: 1vh;
      left: 90%;
    }
  }
}
