.page {
  height: 100vh;
  width: 100%;
  background-color: rgb(56, 90, 119);
}

.container {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 30%;
  // padding-block: 10vh;
  display: grid;
  gap: 2vh;
}

.container h2 {
  font-size: 32px;
  text-align: center;
  // color:
}

.input_section {
  display: grid;
  //  border: 1px solid rgb(0, 0, 0);
  place-items: center;
}
.input_section input {
  height: 35px;
  // width: 100%;
  width: 80%;
  border: 1.5px solid white;
  border-radius: 5px;
  padding-left: 10px;
}

.input_section button {
  height: 35px;
  width: 40%;
  // background-color: var(--main-red-dark);
  // color: var(--main-white-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.other_option a {
  text-decoration: underline;
  color: rgb(227, 225, 225);
}
.other_option p,
.other_option span {
  text-align: center;
  margin-bottom: 10px;
  // color: var(--main-red-dark);
}

@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
